h1 {
  color: black;
  font-family: "Lato";
  font-size: 50px;
}

h2 {
  color: black;
  font-family: "Lato";
  font-size: 36px;
  text-align: center;
  margin-bottom: 10px;
}

h3 {
  color: black;
  padding: 10px;
  text-decoration-line: none;
  font-family: "Lato";
  font-size: 25px;
}

h4 {
  color: black;
  padding: 10px;
  text-decoration-line: none;
  font-family: "Lato";
  font-size: 18px;
}

p {
  color: black;
  padding-left: 40px;
  padding-right: 40px;
  font-family: "Gothic A1";
  font-size: 18px;
}

/* banner */

#navbar {
  display: flex;
  flex-direction: row;
  width: 70%;
  justify-content: right;
}

.navbar_button {
  background-color: #e5ebf7;
  border: none;
}

.navbar_button:hover {
  .navbar_text {
    text-decoration: underline;
  }
}

.navbar_text {
  color: black;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

#banner {
  display: flex;
  flex-direction: row;
  background-color: #e5ebf7;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

#logo {
  height: auto;
}

/* header */

#smile_photo {
  width: 100%;
  height: auto;
  object-fit: contain;
}

#overlay-text {
  position: absolute;
  bottom: 40%;
  left: 5%;
  font-family: "Lato";
  font-weight: 900;
  font-size: 65px;
  width: 45%;
}

#image-overlay {
  position: relative;
  text-align: center;
  color: black;
}

/* main body */

#welcome {
  display: flex;
  justify-content: center;
  text-align: center;
}

body {
  background-color: white;
}

#side-by-side {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 10px;
}

#left-side {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 30px;
}

#right-side {
  width: 40%;
  display: flex;
  align-items: start;
}

#dentists_photo {
  width: 100%;
  height: auto;
  border-radius: 10px;
  object-fit: cover;
}

#subtitle {
  margin-left: 40px;
  text-align: left;
}

.body-text {
  padding-bottom: 10px;
  margin-bottom: 10px;
  font-size: 22px;
  font-weight: 500;
  color: black;
  font-family: "Gothic A1";
  text-align: center;
}

#phone-number {
  color: white;
  text-decoration: none;
  font-size: 25px;
  margin-left: 5px;
  margin-right: 5px;
}

#phone-banner {
  display: none;
}

#phone-button {
  flex-direction: row;
  display: flex;
  align-items: center;
  background-color: #508ab9;
  border: none;
  margin: 10px;
  padding: 20px;
  color: white;
  border-radius: 10px;
  cursor: pointer;
}

#phone-button:hover {
  background-color: rgba(109, 157, 197, 0.68);
  #phone-number {
    color: black;
  }
  .fa-phone-flip {
    color: black;
  }
}

.fa-phone-flip {
  color: white;
  padding: 5px;
}

#button-group {
  display: flex;
  justify-content: space-around;
}

.big-button {
  background-color: #508ab9;
  border: none;
  margin: 10px;
  padding-top: 50px;
  padding-bottom: 80px;
  color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  width: 30%;
  font-family: "Lato";
  font-size: 30px;
  font-weight: 600;
}

.big-button-text {
  margin-bottom: 40px;
  color: white;
  font-family: "Lato";
  font-weight: 600;
}

.big-button:hover {
  background-color: rgba(109, 157, 197, 0.68);
  .big-button-text {
    color: black;
  }
  color: black;
}

#colgate_logo {
  width: 20%;
  height: 20%;
}

#invisalign_logo {
  width: 25%;
  height: 25%;
}

#logo_bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

/* contact bar */

#contact_bar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: #1b3c4d;
  color: white;
}

.info {
  color: white;
}

.contact_cols {
  margin-left: 20px;
  padding-right: 10px;
  margin-bottom: 20px;
}

.contact-text {
  color: white;
  line-height: 30px;
  padding: 10px;
}

iframe {
  width: 400px;
  height: 300px;
  margin-bottom: 10px;
}

/* media for different size screens */

@media (max-width: 1399px) {
  #navbar {
    justify-content: center;
  }
}

@media (max-width: 1000px) {
  #overlay-text {
    position: absolute;
    bottom: 20%;
    left: 5%;
    font-family: "Lato";
    font-weight: 900;
    font-size: 58px;
    width: 45%;
  }
}

/* Media Query for Tablets */
@media (max-width: 800px) {
  #overlay-text {
    bottom: 30%;
    font-size: 35px;
    font-weight: 800;
  }
  #banner {
    display: flex;
    flex-direction: column;
    background-color: #e5ebf7;
    align-items: center;
  }
  h1 {
    font-size: 35px;
  }
  h2 {
    font-size: 25px;
  }
  h3 {
    font-size: 20px;
  }
  h4 {
    font-size: 13px;
  }
  .body-text {
    font-size: 18px;
  }
  #logo {
    object-fit: contain;
  }
  #contact_bar {
    flex-wrap: wrap;
  }
  .contact-text {
    text-align: center;
  }
  .info {
    text-align: center;
  }
  #phone-number {
    font-size: 20px;
  }
  #right-side {
    width: 70%;
    margin-top: 15px;
    align-items: start;
  }
}

@media (max-width: 620px) {
  #side-by-side {
    flex-direction: column;
    align-items: center;
  }
  #left-side {
    width: 90%;
    margin-right: 0px;
  }
}

/* Media Query for Phones */
@media (max-width: 500px) {
  #overlay-text {
    bottom: 25%;
    font-size: 25px;
    font-weight: 800;
  }
  h1 {
    font-size: 25px;
  }
  h2 {
    font-size: 20px;
  }
  iframe {
    width: 300px;
    height: 300px;
  }
  #button-group {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .big-button {
    width: 80%;
  }
  #logo_bar {
    flex-direction: column;
  }
  #colgate_logo {
    width: 50%;
    height: 50%;
  }

  #invisalign_logo {
    width: 50%;
    height: 50%;
  }
  #side-by-side {
    flex-direction: column;
    align-items: center;
  }
  .body-text {
    font-size: 16px;
    margin-bottom: 0px;
    padding-bottom: 0px;
  }
  #left-side {
    width: 80%;
    margin-right: 0px;
  }
  #banner {
    display: none;
  }
  #phone-banner {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
  #small-logo {
    width: 75%;
    object-fit: contain;
  }
  .contact_cols {
    margin-left: 0px;
    padding-right: 0px;
    margin-bottom: 0px;
  }
  #right-side {
    width: 85%;
    margin-top: 15px;
  }
  .contact-text {
    margin: 0px;
  }
}
